.jumbotron { 
    background-color: #B20000;
color: #ffffff;
padding: 100px 25px;
}

.contpadding {
    padding: 50px 50px;
}

.cont-gris {
    background-color: #f6f6f6;
}

h1.titulo{
	color:#B20000;
	font-family: 'Slabo', serif;
}

.imgfondo{
	background-image:url("../img/2.jpg");
	background-size:cover;
}

.darken {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/2.jpg");
}


/*se utiliza porque h1 no es responsivo y asesoramiento/profesionales es una palabra larga*/ 
#asesoramiento{color:#B20000;font-family: 'Slabo', serif;}
#profesionales{color:#B20000;font-family: 'Slabo', serif;}
@media screen and (max-width: 768px) {
    #asesoramiento{
        font-size:25px;
		color:#B20000;
    }
	#profesionales{
        font-size:25px;
		color:#B20000;
    }
}


/*estilos menu*/
.navbar {
    margin-bottom: 0;
    background-color: #B20000;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #B20000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/**/
.navbar-default .navbar-nav .open .dropdown-menu {
	background-color:#B20000;
	}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
		background-color:#B20000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #white;
    }

/*efectos*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}	




